body {
    margin-top: 120px;
}

.filtros-catalogo {
    width: 95dvw;
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}



.filtros-catalogo select {
    cursor: pointer;
}

main {
    width: 95dvw;
    margin: 30px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    row-gap: 25px;
}

main a {
    text-decoration: none;
}

main a img {
    width: 100%;
}

main a p:first-of-type {
    font-weight: bold;
}

main a p:last-of-type {
    color: var(--price);
}

.filters {
    margin: 20px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filters label {
    background: var(--pri);
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 100px;
}

.filters img {
    width: 20px;
}

.search {
    width: fit-content;
    padding: 2px 6px;
    border: 3px solid var(--pri);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.select {
    position: relative;
}

#search-input, select, option {
    width: 250px; height: 50px;
    outline: none;
    border: 0;
    background: transparent;
}

#sort-select {
    padding: 20px 0;
    display: none;
}

:has(#select-select:checked) #sort-select {
    display: block;
}

/* .select:hover #sort-select {
    display: block;
} */

select, option {
    width: fit-content; height: fit-content;
}

select {
    position: absolute;
    bottom: -70px;
    right: 0;
}



@media (min-width: 992px) {
    .filtros-catalogo {
        width: 70dvw;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .filtros-catalogo input {
        flex: 1;
        max-width: none;
    }

    .filtros-catalogo select {
        width: 250px;
        max-width: none;
    }

    main {
        width: 70dvw;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        row-gap: 50px;
    }

    .filters {
        position: absolute;
        top: 120px;
        right: 25px;
    }
}