main {
    width: 95dvw;
    margin: 30px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    row-gap: 25px;
}

section img {
    width: 100%;
}

section p:first-of-type {
    font-weight: bold;
}

section p:last-of-type {
    color: var(--price);
}



@media (min-width: 992px) {
    main {
        width: 70dvw;
        gap: 10px;
        
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        row-gap: 50px;
    }
}