body {
    margin-top: 90px;
}

main {
    width: 90dvw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

section {
    width: 90dvw;
    max-width: 500px;
}

.title {
    margin-bottom: 30px;
}

.head {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pix {
    width: 90dvw;
    max-width: 500px;
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.table {
    width: 90dvw;
    display: grid;
    row-gap: 12px;
    justify-content: space-between;
    grid-template-rows: repeat(4,fit-content(100%));
    grid-template-columns: repeat(2,fit-content(100%));
}

.table > p:nth-child(2n) {
    text-align: right;
}

.table > p:nth-child(n + 7) {
    font-weight: bold;
}

.confirm {
    margin: 0 auto 50px auto;
}


@media (min-width: 992px) {
    body {
        margin-top: 120px;
    }

    main {
        gap: 200px;
    }

    .confirm {
        position: absolute;
        bottom: 100px;
    }

    .table {
        max-width: 300px;
    }
}